---
- name: Install additional packages
  import_tasks: packages.yaml
  tags:
    - config.packages

- name: Config cpu governor
  import_tasks: cpu_governor.yaml
  tags:
    - config.cpu

- name: Config firewall
  import_tasks: firewall.yaml
  tags:
    - config.firewall
