[Unit]
Description=PostgresDB
After=docker.service
Requires=docker.service
 
[Service]
PermissionsStartOnly=true
RestartSec=10
Restart=on-failure
ExecStartPre=-/usr/bin/docker stop postgres
ExecStartPre=-/usr/bin/docker rm postgres -f
ExecStartPre=/usr/bin/docker pull postgres:14.0
ExecStart=/usr/local/bin/postgres

SyslogIdentifier=postgres
KillMode=process

WorkingDirectory={{ postgres_config_dir }}

[Install]
WantedBy=multi-user.target
